<!DOCTYPE HTML>
<html>
<head>
	{% load static %}
	<title>FarmSprings</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" href="{% static 'crops/css/main.css' %}"/>
</head>
<body class="is-preload">

<!-- Header -->
<header id="header">
	<a class="logo" href="../">FarmSprings</a>
	<nav>
		<a href="#menu">메뉴</a>
	</nav>
</header>

<!-- Nav -->
<nav id="menu">
	<ul class="links">
		<li><a href="..">홈페이지</a></li>
		<li><a href="../intro">소개</a></li>
		<li><a href="../prod_change">농작물 생산 정보</a></li>
		<li><a href="../prediction_prod">지역별 생산성 예측</a></li>
		<li><a href="../prediction_crops_prod">작물별 생산성 예측</a></li>
		<li><a href="../crops_trend">지역별 작물 트렌드</a></li>
	</ul>
</nav>

<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h1>팜스프링스</h1>
		<p>지금 바로 여러분의 농작물을 확인해보세요<br />
			저희 FarmSprings는 미래 지향형 농작물 정보 플랫폼으로 <a href="intro.html">여기</a> 당신의 농지를 찾아드립니다.</p>
	</div>
	<video autoplay loop muted playsinline src="{% static 'crops/images/1.mp4' %}"></video>
</section>
<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Farm Springs란?</h2>
						<p> Farm Springs에서 제공하는 솔루션은 기후변화로 작물별 재배지의 북상과 이상기후로 고충을 겪고 있는 생산자들과 농업 관련 많은 농사자들에게 대비책을 가져다줍니다.
저희는 빅데이터 분석으로 미래를 예측하고 여러분들의 농지에 알맞은 재배 작물을 추천하여 여러분의 노력을 지켜드리고 싶습니다.
우리는 기후 온난화로 지역적 농산물의 다양성 약화와 같이 매우 복잡한 변화를 가져오고 있는 농업생태계를 솔루션과 함께 위협으로부터 지켜내고자 합니다. </p>
					</header>
				</div>
			</section>

				<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>농작물 솔루션 시스탬 FarmSprings</h3>
							<p>각 지역의 농지들의 환경을 분석하고
현 농지를 반영한 농작물 생산량 예측을 통해
미래 지향형 농작물 정보를 구축하고 모니터링이 가능한 경작지 넓혀 가는 시작점입니다.
미래 지향형 농작물 정보 플랫폼 구축은 생산자 뿐만 아니라 유통자 및 소비자에게 계획 및 계산 가능한 경작지 확보는 물론,
현재 우리나라, 어느 지역에서, 어떤 작물이, 얼만큼 생산되고 있는지를 생생하게 전달합니다.</p>
						</section>
						<section>
							<h4>Team member</h4>
							<ul class="alt">
								<li><a href="#">강수석</a></li>
								<li><a href="#">김유정</a></li>
								<li><a href="#">박경준</a></li>
								<li><a> FarmSprings</a></li>
							</ul>
						</section>
						<section>
							<h4>Contact</h4>
							<ul class="plain">
								<li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
								<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
								<li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
								<li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; FarmSprings, Solution <a href="https://coverr.co">system</a>.
					</div>
				</div>
			</footer>
<!-- Scripts -->
<script src="{% static 'crops/js/jquery.min.js' %}"></script>
<script src="{% static 'crops/js/browser.min.js' %}"></script>
<script src="{% static 'crops/js/breakpoints.min.js' %}"></script>
<script src="{% static 'crops/js/util.js' %}"></script>
<script src="{% static 'crops/js/main.js' %}"></script>

</body>
</html>